<!DOCTYPE html>
<html ng-app="Ejemplo3">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
      <script type="text/javascript" src="angular.min.js"></script>
      <script type="text/javascript" src="EJemplo3App.js"></script>

      <div ng-controller="ProductosController as almacen">
           <table>
               <tr ng-repeat="producto in almacen.productos">
                   <td>{{producto.codigo}}</td>
                   <td>{{producto.nombre}}</td>
               </tr>
           </table>
          <button ng-click="almacen.addProductoCocaCola()" >Add Coca Cola</button>
      </div>

</body>
</html>