<!DOCTYPE html>
<html ng-app="Ejemplo4">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
      <script type="text/javascript" src="angular.min.js"></script>
      <script type="text/javascript" src="Ejemplo4App.js"></script>

      <div ng-controller="GameController as game">

           <img ng-hide="!game.getCurrentCard().hidden" ng-src="{{game.getCurrentCardImage()}}" > </img>
          <button ng-click="game.changeCard()" >Change Card</button>
      </div>

</body>
</html>