<!doctype html>
<html ng-app>
<head>
    <script src="angular.min.js"></script>
    <script src="Ejemplo2App.js"></script>
    <link rel="stylesheet" href="Ejemplo2Style.css">
</head>
<body>
<h2>Todo</h2>
<div ng-controller="TodoCtrl">
    <span>{{remaining()}} of {{todos.length}} remaining</span>
    [ <a href="" ng-click="archive()">archive</a> ]
    <table border="1">
        <tr ng-repeat="todo in todos">
           <td><input type="checkbox" ng-model="todo.done"> </td>
           <td><span class="done-{{todo.done}}">{{todo.text}}</span></td>
        </tr>
    </table>
    <form ng-submit="addTodo()">
        <input type="text" ng-model="todoText"  size="30"
               placeholder="add new todo here">
        <input class="btn-primary" type="submit" value="add">
    </form>
</div>
</body>
</html>