<!doctype html>
<html ng-app>
<head>
    <script src="angular.min.js"></script>
</head>
<body>
<div>
    <label>Name:</label>
    <input type="text" ng-model="yourName" placeholder="Enter a name here">
    <hr>
    <h1>Hello {{yourName+1}}!</h1>
    <button ng-click="yourName='waassaa'" ></button>
</div>
</body>
</html>